extends email-layout

block content
  h2 Reset hasła
  p Cześć! Kliknji poniższy przycik aby zresetować hasło. Link ważny jest przez godzinę. 
  +button(resetURL, 'Zresetuj hasło')
  p Jeśli nie możesz nacisnać przycisku wejdz na adres: #{resetURL}
  br
  p Jeśli nie oczekiwałeś resetu hasła po prostu zignoruj ten email.
