.mainTagsDiv {
    z-index: 5;
    contain: content;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    left: 0;
    width: 200px;
    width: 185px;
    will-change: top, max-height, transform;
    background-color: #fff;
    border-right: 0.5px solid #292929;
    box-shadow: 0 0.5px 1px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
    scrollbar-width: thin;
    scrollbar-color: #181817 #F5F5F5;
    display: flex;
    flex-direction: column;
}

@media (min-width: 601px) {
    .mainTagsDiv {
        webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(-400px, 0, 0);
        transition: -webkit-transform .5s cubic-bezier(0.4, 0, 0.2, 1);
        transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform .5s cubic-bezier(0.4, 0, 0.2, 1);

    }
}

.mainTagsDiv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.mainTagsDiv::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
}

.mainTagsDiv::-webkit-scrollbar-thumb {
    /* border-radius: 5px; */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
    background-color: #2e2a0b;
    background-color: #181817;
}


.mainTagsDiv ul.mainTagsUl {
    padding-left: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0;
}



.mainTagsUl li.tag {
    width: 100%;
}

.mainTagsUl li:last-of-type {
    margin-bottom: 25px;
}

.checkBoxMultitags {
    width: 100%;
    font-size: 16px;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.checkBoxMultitags::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 4px;
    width: 80%;
    border-bottom: 1px solid #292929;
}

.checkBoxMultitags input#multitags {
    width: 23px;
    height: 23px;
    cursor: pointer;
}

button.searchMultiTagsButton {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
}




.TagsDiv--open {
    transform: translate3d(0, 0, 0);
}

/* @media all and (min-width: 1740px) {
    .mainTagsDiv {
        transform: translate3d(0, 0, 0);
    }

} */


@media (max-width: 600px) {
    .mainTagsDiv {
        position: fixed;
        background: #161616;
        /* background: url('/img/noise4.png'); */
        background: white;
        /* height: 90vh !important; */
        width: 100%;
        top: 0;
        left: 0;
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 1000;
        clip-path: circle(0.1px at 15% 103%);
        -webkit-clip-path: circle(0.1px at 15% 103%);

    }

    .mainTagsDiv.open {
        clip-path: circle(1500px at 90% -1%);
        -webkit-clip-path: circle(1500px at 90% -1%);
        pointer-events: all;

    }

    .mainTagsDiv ul.mainTagsUl {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .mainTagsUl li.tag {
        padding-right: 2px;
        padding-top: 12px;
        transition: all 0.5s ease 0.2s;
        width: 30%;
    }

    .mainTagsUl li {
        /* opacity: 0; */
    }

    .mainTagsUl li:last-of-type {
        margin-bottom: 0;
    }

    li.fade {
        opacity: 1;
    }

    .checkBoxMultitags {
        color: black;
        justify-content: start;
        align-items: center;
        width: auto;
    }

    .checkBoxMultitags label {
        width: 75%;
        text-align: center;

    }

    .checkBoxMultitags input#multitags input {
        width: 20%;

    }

    .checkBoxMultitags::before {
        border-bottom: 1px solid #696868;
    }

    button.searchMultiTagsButton {
        margin-bottom: 0px;
    }

    .tag .tag__text {
        font-size: 12px;
        letter-spacing: 1.5px;
    }

}

@media (max-width: 374px) {
    .mainTagsUl li.tag {
        width: 31%;
    }

    .tag .tag__text {
        font-size: 11px;
        letter-spacing: 1px;
    }

}